@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.style-module_fillIcons__6---A .filled-icons{
    display: flex;
}
svg{
    display: inline;
}

body {
  background-color: #121212; /* Qorong'u fon rangi */
  color: #ffffff; /* Oq matn rangi */
}

.navbar, .footer {
  background-color: #1e1e1e; /* Navbar va footer uchun qorong'u fon */
}

h1, h2, h3, p {
  color: #ffffff;
}

.cart
{
    background-color: black;
    box-shadow: 0px 0px 30px 1px white;
}

button
{
    background-color: black;
    box-shadow: 0px 0px 40px 1px white;
}

.btn
{
    background-color: black;
    box-shadow: 0px 0px 20px 1px white;
}

*{
  font-family: "Bebas Neue", serif;
    font-weight: 800;
}

.home-box
{
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  background-image: url('https://img.freepik.com/free-photo/composition-black-friday-with-gift-boxes_23-2147696789.jpg?t=st=1734971503~exp=1734975103~hmac=cadbba41f847faeda7d0cffd03c4b32ac92a8077be298cdb3e2abaee637ce94d&w=1060');
}

.contain
{
  width: 100%;
  
}


.stroke
{
  -webkit-text-stroke: 1px #475569;
}

.stroke1
{
  -webkit-text-stroke: 1px #108adc;
}